@font-face{
    font-family:myfont;
    src:url('http://127.0.0.1:8000/public/assets/font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}


/*#region General*/
:root{
    --primary-color:#092635;
    --onprimary-color:#9EC8B9;
    --contaianer-color:#5C8374;
    --oncontaianer-color:#1B4242;
    --first-gray-color:#f5f8fa;
    --second-gray-color:#e7e7e7;
    --white-color:#FFF;
    --font-family:'myfont';
}
html,
body {
    direction: rtl;
    background-color: var(--white-color);
}

/*#endregion */

/*#region dashboard.index*/

/*#endregion*/

/*#region dashboard.board*/

.board-header{
    background-color: var(--onprimary-color);
}

.board-body{
    padding: 0 2rem;
}

.board-list{
    background-color: var(--onprimary-color);
    height: auto;
}

.list-body{
    max-height: 25rem;

    overflow-y: auto;
}

.custom-scrollbar {
    scrollbar-width: thin; 
    direction: ltr;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px; /* Add border-radius */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--onprimary-color);
    border-radius: 10px; /* Add border-radius */
}

.card{
    direction: rtl;
    cursor:pointer;
}

/*#endregion*/







/*#region */

/*#endregion*/

/*#region */

/*#endregion*/

/*#region */

/*#endregion*/

/*#region */

/*#endregion*/

/*#region */

/*#endregion*/