@font-face {
    font-family: 'myFont';
    src: url('/assets/font/GE_SS_Two_Bold.otf');
}

@font-face {
    font-family: 'myFont2';
    src: url('/assets/font/DroidKufi-Regular.ttf');
}

/*#region General*/

:root{
    --primary-color:#092635;
    --onprimary-color:#9EC8B9;
    --contaianer-color:#5C8374;
    --oncontaianer-color:#1B4242;
    --first-gray-color:#f5f8fa;
    --second-gray-color:#e7e7e7;
    --srface-color:#efefef;
    --white-color:#FFF;
    --font-family:'myfont2';
}

html,
body {
    direction: rtl;
    background-color: #fbfbfb;
    font-family: var(--font-family);
}

.in-bg-primary{
    background-color: var(--primary-color);
}

.in-bg-secondry{
    background-color: var(--onprimary-color);
}

.in-bg-srface{
    background-color: var(--srface-color);
}

.in-text-primary{
    color: var(--primary-color);
}

.in-text-secondry{
    color: var(--contaianer-color);
}

.injaaz-btn{
    background-color: var(--primary-color);
    color: var(--onprimary-color);
}

.injaaz-btn-secondry{
    background-color: var(--onprimary-color);
    color: var(--primary-color);
}

.injaaz-btn:hover , .injaaz-btn:focus{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.injaaz-btn-secondry:hover , .injaaz-btn-secondry:focus{
    background-color: var(--onprimary-color);
    color: var(--white-color);
}


.injaaz-btn-close{
    background: transparent;
    border: none;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border-radius: 0.5rem;
    display: flex;
    font-weight: bold;
    width: 2rem;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.injaaz-btn-close:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.injaaz-btn-transperant{
    background-color: transparent;
    color: var(--onprimary-color);
}

.injaaz-btn-transperant:hover,
.injaaz-btn-transperant:focus{
    color: var(--primary-color);
    border: 1px solid transparent;
}

.td-custom-padding{
    padding-right: 2rem;
}

.loadingSpinner{
    position: absolute;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background: var(--primary-color);
}

.in-sm-text{
    font-size: 0.9rem !important;
}

/*#endregion */

/*#region Main layout */

.nav-user-info{
    width: auto;
}

.user-notification{
    width: 20rem
}

.notify-date{
    font-size: 12px;
    direction: ltr;
}

.header-nav .notifications .notification-item .notify-delete-icon{
    font-size: 20px;
    cursor: pointer;
}

.header-nav .notifications .notification-item .notify-delete-icon:hover{
    color: red;
}

.in-transition{
    transition: all 0.2s ease;
}

/*#endregion Main layout */

/*#region dashboard.index*/

.header-nav .profile .dropdown-item i {
    margin-left: 10px;
}

@media (min-width: 768px){
    .dropdown-menu-arrow::before {
        left: 26px;
        right: auto;
    }

    .notifications::before{
        right: 85px;
        left: auto;
    }

    .messages::before{
        right: 45px;
        left: auto;
    }
}

.boards-header{
    height: 17rem;
    background-image: url('/assets/img/user-boards.jpg');
    background-size: cover;
}

.boards-page-title h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.add-board-btn{
    width: 9rem;
    font-size: 1.4rem;
    word-spacing: 2px;
}

.boards-header .user-info{
    position: absolute;
    min-width: 30rem;
    width: auto;
    top: 10rem;
    right: 1.4rem;
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 15px;
    border-radius: 0.5rem;
    z-index: 2;
}

.boards-header .user-info h1{
    color: var(--white-color);
    font-family: var(--font-family);
}

.boards-header .user-info img{
    height: 6rem;
}

.user-boards{
    min-height: 20rem;
}

.board{
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px lightgray;
    background-color: white;
}

.board .board-body{
    height: 12rem;
    width: -webkit-fill-available;
}

.board .board-title{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--primary-color)
}

.board .board-description{
    color: #4d4d4d;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.board-dropleft-icon{
    font-size: 1.4rem;
    color: var(--primary-color);
}

.dropdwon-board-icon{
    color: var(--primary-color);
}

.noting-user-boards h1,
.noting-user-boards h4{
    font-family: var(--font-family);
    color: var(--primary-color);
}

/*region Add board modal*/

.add-board-modal .modal-center{
    top: 47% !important;
    max-width: 65rem;
    transform: translateY(-50%) !important;
    direction: rtl;
}

.add-board-modal .modal-content{
    height: 30rem;
}

.add-board-modal .board-name-input{
    height: 3rem;
}

.add-board-modal .previous-icon{
    font-size: 1.7rem;
}


.board-add-dropdown  #board-dropdownContent {
    position: absolute;
    overflow-y: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    direction: rtl;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 15rem;
    height: auto;
    width: 25rem;
    margin-right: 2.2rem;
}

.board-add-dropdown .dropdownOption {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 1s ease;
}

.board-add-dropdown .dropdownOption:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.board-add-dropdown .dropdownOption img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.invite-section{
    height: 10rem;
}

.invited-to-board{
    color: #2d94c9;
    font-weight: bolder;
}

.board-name .error,
.board-description .error{
    color: red;
    margin-top: 0.5rem;
    padding-right: 1rem;
}

.board-info{
    min-height: 18rem;
}

/*endregion Add board modal*/


/*#endregion*/

/*#region dashboard.board*/

/* this for row of listes */

.link-board-general .board-general-icon ,
.link-board-membres .board-membres-icon{
    font-size: 1.3rem;
    color: var(--primary-color);
}



.custom-row-changes{
    padding-bottom: 2.1rem!important;
    height: 34.59rem;
}

.board-header{
    background-color: var(--onprimary-color);
}

.board-body{
    padding: 0 2rem;
}

.board-list{
    background-color: var(--onprimary-color);
    height: fit-content;
    user-select: none;
}

.board-list .list-header .list-links{
    font-size: 1.5rem;
}

.list-body{
    max-height: 27.29rem;
    overflow-y: auto;
}

.list-body-conetnt{
    max-height: 23.9rem;
    overflow-y: auto;
    padding: 5px 0;
}

.custom-scrollbar {
    scrollbar-width: thin; 
    direction: ltr;
}

.custom-scrollbar-x{
    scrollbar-width: thin; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar-x::-webkit-scrollbar {
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb ,.custom-scrollbar-x::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px; 
}

.custom-scrollbar-x::-webkit-scrollbar-thumb{
    border-radius: 5px; 
}


.custom-scrollbar::-webkit-scrollbar-track , .custom-scrollbar-x::-webkit-scrollbar-track {
    background-color: var(--onprimary-color);
    border-radius: 10px; 
}

.custom-scrollbar-x::-webkit-scrollbar-track{
    border-radius: 2px;  
}


.list-footer .plus-icon{
    margin-left: 0.7vw;
}

.list-footer .close-icon , .new-list .close-icon{
    font-size: 1.8vw;
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
}

.list-footer .close-icon:hover ,.new-list .close-icon:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.list-footer input{
    border: none;
    height: 6rem;
    width: 92.8%;
    font-weight: bold;
    border-radius: 0.2rem;
    text-align: right;
}

.list-footer input:focus{
    outline: none;
}

/*#region Card Modal*/

.card{
    direction: rtl;
    cursor:pointer;
}

.card .edit-card-title{
    visibility: hidden;
    padding: 0.5rem;
    border-radius: 50%;
}

.card:hover .edit-card-title{
    visibility: visible;
}

.card:hover .edit-card-title:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.modal{
    overflow: visible;
}

.card-modal{
    direction: ltr;
}

.card-modal .modal-content{
    overflow: visible;
    height: 35rem;
    direction: rtl;
}

.card-modal .modal-header{
    height: 4rem;
}

.card-modal .modal-body{
    overflow-y: auto;
    position: static;
    max-height: 35rem;
}

.card-modal .modal-center{
    top: 48% !important;
    max-width: 80rem;
    transform: translateY(-50%) !important
}

.card-modal-title , 
.card-modal-description ,
.card-modal-comment ,
.card-comment-item{
    color: black;
    width: auto;
    border: none;
    user-select: none;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
}

.card-modal-title:hover ,
.card-modal-description:hover ,
.card-modal-comment:hover{
    outline-style: dashed;
    outline-width: 0.2rem;
    outline-color: var(--contaianer-color);
}

.card-modal-title:focus ,
 .card-modal-description:focus
 .card-modal-comment:focus{
    outline-style: solid;
    outline-width: 0.1rem;
    outline-color: var(--contaianer-color);
}

.card-modal-title ,
.owner-name{
    width: fit-content;
}

.owner-name{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.card-comment-item{
    font-size: 1.1rem;
    color: var(--contaianer-color);
    padding: 0;
}


.card-modal-description , .card-modal-comment{
    height: auto;
    min-height: 2.5rem;
}

.new-list{
    background-color: var(--onprimary-color);
    height: fit-content;
}

.new-list  input{
    border: none;
    height: 4rem;
    border-radius: 5px;
}

.new-list input:focus{
    outline: none;
}

.new-list .plus-icon{
    margin-left: 0.7vw;
}

.card-member , .date-selected{
    inset: 8px -15px auto auto !important;
}

.card-member .card-member-item , 
.date-selected .date-selected-item{
    transition: 0.3s;
    column-gap: 2rem;
}

.date-selected{
    width: 24rem;
    height: 26rem;
    transform: translate(351px, 57px) !important;
}

.select-date-modal .modal-center{
    top: 8% !important;
    left: 55%;
    max-width: 22rem;
}

.select-date-modal .modal-content{
    height: auto;
}

.comment-img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.comments .comment-owner-name{
    font-size: 1rem;
}
.comments .comment-date{
    font-size: 0.8rem;
}

.card-info{
    width: 85%;
}

.card-info h5{
    font-size: 1.1rem;
}

.card-info .card-owner input{
    font-size: 1rem;
    padding: 0;
}

.card-info .dates input{
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
}

.card-info .progrss-rate input{
    font-size: 1.1rem;
    width: 2.5rem;
    padding: 0;
}

.card-info .progrss-rate .progrss-icon{
    font-size: 1.7rem;
    color: var(--primary-color);
}


.card-info .card-member img{
    margin-left: -20%;
}

.card-info .card-member-list{
    background-color: #ebebeb;
    border-radius: 0.5rem;
    padding: 1rem 0;
    width: 23rem;
    overflow-y: auto;
    direction: rtl;
    height: auto;
    max-height: 20rem;
}

/*#endregion Card Modal  */

/*#region add-member-modal */

.add-member-modal .modal-center{
    top: 6.7% !important;
    max-width: 45rem;
}

.add-member-modal .modal-content{
    overflow: visible;
    direction: rtl;
    height: 25rem;
}

.add-member-modal .modal-body{
    overflow-y: auto;
    position: static;
}

.add-member-modal .add-member-details input{
    border: 0.1rem solid var(--primary-color);
    height: 3rem;
}

.add-member-modal .add-member-details input:focus{
    outline: none;
}

.ck-editor__main p{
    text-align: end;
}


/*#endregion add-member-modal */

/*#endregion*/

/*#region dashboard.Notification*/

.notification-delete-icon{
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primary-color);
}

.notification-delete-icon:hover , 
.board-ember-delete-icon:hover{
    color: red;
}

/*#endregion dashboard.Notification*/

/*#region dashboard.profile*/

.user-photo img{
    height: 20rem;
}

.profile-navigation ul li,
.board-settings-navigation ul li{
    padding: 1rem 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.profile-navigation ul li:hover,
.board-settings-navigation ul li:hover{
    border-bottom: 0.2rem solid var(--primary-color);
}

.profile-navigation ul .active,
.board-settings-navigation ul .active {
    border-bottom: 0.2rem solid var(--primary-color);
}

.profile-navigation hr ,
.board-settings-navigation hr{
    margin-top: -1.19rem;
    opacity: 0.5;
    border-top: 0.2rem solid;
}

.sections-container{
    min-height: 25rem;
}

.btn-user-profile{
    padding: 0.5rem 5rem 
}

.personal-icon , .have-member-icon{
    font-size: 1.7rem;
    color: var(--primary-color);
}

.user-board-name >*{
    cursor: pointer;
    color: var(--primary-color);
}

/*#endregion dashboard.profile*/

/*#region dashboard.accountSettings */

.change-photo-modal .modal-center{
    top: 20% !important;
    max-width: 40rem;
}

.user-porofile-board{
    height: 10rem;
    background-color: white;
    box-shadow: 1px 1px 12px lightgray;
    border-radius: 0.5rem;
}

.board-manager-icon{
    color: var(--primary-color);
    font-size:1.4rem
}

/*#endregion*/

/*#region dashboard.boardSettings */

.board-sections-container{
    min-height: 30rem;
}

.board-ember-delete-icon{
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primary-color);
    font-size: 1.3rem;
}

.board-member-photo{
    height: 4.3rem
}

/* invite to board modal */

.invite-toboard-modal .modal-center{
    top: 15% !important;
    max-width: 40rem;
}

.invite-toboard-modal .modal-content{
    overflow: visible;
    direction: rtl;
    height: 25rem;
}

.invite-toboard-modal .modal-body{
    overflow-y: auto;
    position: static;
}


/* invite to board modal */

/*#endregion*/

/*#region Style for drag and drop */

.dragging{
    transform: rotate(5deg);
}

/*#endregion Style for drag and drop */

/*#region front.login & front.register*/

.edit-border-raduis{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.edit-input-border-raduis{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.member-details .delete-member-icon{
    color: var(--primary-color);
    cursor: pointer;
}

.member-details .delete-member-icon:hover{
    color: red;
}

/* Add member dropdwon */

.board-member-dropdown {
    display: inline-block;
}

.board-member-dropdown  #dropdownContent {
    display: none;
    position: absolute;
    overflow-y: scroll;
    background-color: #f9f9f9;
    min-width: 160px;
    direction: rtl;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 15rem;
    height: auto;
    width: 25rem;
    margin-right: 1.1rem;
}

.board-member-dropdown .dropdownOption {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 1s ease;
}

.board-member-dropdown .dropdownOption:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.board-member-dropdown .dropdownOption img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.loging-img img{
    height: 20rem;
}

.register-img img{
    height: 15rem;
    position: absolute;
    right: 2rem;
    top: 24.5rem;
}

.register-img-2 img{
    height: 20rem;
    position: absolute;
    left: 0rem;
    top: -0.5rem;
}

.loging-back img{
    height: 5rem;
}

.register-back img{
    height: 4rem;
}

.edit-card-loging{
    background-color: white;
    box-shadow: 1px 1px 17px lightgray
}

/* Add member dropdwon  */

/*#endregion*/

/*#region terms and condition */

.terms-img{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}
.terms-img img{
    height: 10rem;
}
/*#endregion terms and condition */
