@font-face{
    font-family:myfont;
    src:url('http://127.0.0.1:8000/public/assets/font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}


/*#region General*/
:root{
    --primary-color:#092635;
    --onprimary-color:#9EC8B9;
    --contaianer-color:#5C8374;
    --oncontaianer-color:#1B4242;
    --first-gray-color:#f5f8fa;
    --second-gray-color:#e7e7e7;
    --white-color:#FFF;
    --font-family:'myfont';
}
html,
body {
    direction: rtl;
    background-color: var(--white-color);
}

.in-bg-primary{
    background-color: var(--primary-color);
}

.in-bg-secondry{
    background-color: var(--onprimary-color);
}

.in-text-primary{
    color: var(--primary-color);
}

.injaaz-btn{
    background-color: var(--primary-color);
    color: var(--onprimary-color);
}

.injaaz-btn:hover , .injaaz-btn:focus{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/*#endregion */

/*#region dashboard.index*/

.header-nav .profile .dropdown-item i {
    margin-left: 10px;
}

@media (min-width: 768px){
    .dropdown-menu-arrow::before {
        left: 20px;
        right: auto;
    }

    .notifications::before{
        right: 20px;
        left: auto;
    }

    .messages::before{
        right: 45px;
        left: auto;
    }
}



/*#endregion*/

/*#region dashboard.board*/

.board-header{
    background-color: var(--onprimary-color);
}

.board-body{
    padding: 0 2rem;
}

.board-list{
    background-color: var(--onprimary-color);
    height: fit-content;
}

.list-body{
    max-height: 27.29rem;
    overflow-y: auto;
}

.list-body-conetnt{
    max-height: 23.9rem;
    overflow-y: auto;
}

.custom-scrollbar {
    scrollbar-width: thin; 
    direction: ltr;
}

.custom-scrollbar-x{
    scrollbar-width: thin; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar-x::-webkit-scrollbar {
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb ,.custom-scrollbar-x::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px; 
}

.custom-scrollbar-x::-webkit-scrollbar-thumb{
    border-radius: 5px; 
}


.custom-scrollbar::-webkit-scrollbar-track , .custom-scrollbar-x::-webkit-scrollbar-track {
    background-color: var(--onprimary-color);
    border-radius: 10px; 
}

.custom-scrollbar-x::-webkit-scrollbar-track{
    border-radius: 2px;  
}




.list-footer .plus-icon{
    margin-left: 0.7vw;
}

.list-footer .close-icon , .new-list .close-icon{
    font-size: 1.8vw;
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
}

.list-footer .close-icon:hover ,.new-list .close-icon:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.list-footer input{
    border: none;
    height: 6rem;
    width: 92.8%;
    border-radius: 0.2rem;
    text-align: right;
}

.list-footer input:focus{
    outline: none;
}

.card{
    direction: rtl;
    cursor:pointer;
}

.card .edit-card-title{
    visibility: hidden;
    padding: 0.5rem;
    border-radius: 50%;
}

.card:hover .edit-card-title{
    visibility: visible;
}

.card:hover .edit-card-title:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.modal{
    overflow: visible;
}

.card-modal{
    direction: ltr;
}

.card-modal .modal-content{
    overflow: visible;
    height: 30rem;
}

.card-modal .modal-body{
    overflow-y: auto;
    position: static;
    max-height: 35rem;
}

.card-modal .modal-center{
    top: 42% !important;
    max-width: 38rem;
    transform: translateY(-50%) !important;
}

.new-list{
    background-color: var(--onprimary-color);
    height: fit-content;
}

.new-list  input{
    border: none;
    height: 4rem;
    border-radius: 5px;
}

.new-list input:focus{
    outline: none;
}

.new-list .plus-icon{
    margin-left: 0.7vw;
}

.card-member , .date-selected{
    inset: 8px -15px auto auto !important;
}

.card-member .card-member-item , 
.date-selected .date-selected-item{
    transition: 0.3s;
    column-gap: 2rem;
}

.date-selected{
    width: 24rem;
    height: 26rem;
    transform: translate(351px, 57px) !important;
}

.select-date-modal .modal-center{
    top: 8% !important;
    left: 55%;
    max-width: 22rem;
}

.select-date-modal .modal-content{
    height: auto;
}

/*#endregion*/

/*#region front.login & front.register*/

.edit-border-raduis{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.edit-input-border-raduis{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

/*#endregion*/

/*#region */

/*#endregion*/

/*#region */

/*#endregion*/

/*#region */

/*#endregion*/

/*#region */

/*#endregion*/